body {
    /* background-color: aquamarine; */
    margin: 0;
    padding: 10px ;
    font-family:Arial, Helvetica, sans-serif ;
    min-width: 400px;
}

button {
    background-color: #008000;
    color: white;
    padding: 10px 20px;
    /* padding-bottom: 10px; */
    border: none;
    font-weight: bold;
    cursor: pointer;
}

input {

    width: 100%;
    padding: 10px;
    box-sizing:border-box;
    border:1px solid #539165;
    /* background-color:#d4f4ea; */
    margin: 2px;
}

ul {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;

}

li {
   margin-top: 5px;
}

a {
    color: #008000;
}